@model ShoppingCart

<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>cart</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">cart</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <table class="table cart-table table-responsive-xs">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">image</th>
                            <th scope="col">product name</th>
                            <th scope="col">price</th>
                            <th scope="col">quantity</th>
                            <th scope="col">action</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    <a href="#"><img src="~/Uploads/Items/@item.IamgeName" alt="@item.ItemName"></a>
                                </td>
                                <td>
                                    <a asp-controller="Item" asp-action="Details" asp-route-id="@item.ItemId">@item.ItemName</a>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input type="text" name="quantity" class="form-control input-number"
                                                           value="@item.Quantity" min="0">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">$@item.Price</h2>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">
                                                <a href="#" class="icon"><i class="ti-close"></i></a>
                                            </h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h2>$@item.Price</h2>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <input type="number"
                                                   class="form-control input-number quantity-input"
                                                   data-id="@item.ItemId"
                                                   data-price="@item.Price"
                                                   onkeyup="ChangeQuantity(this)"
                                                   onchange="ChangeQuantity(this)"
                                                   value="@item.Quantity" min="0">
                                        </div>
                                    </div>
                                </td>
                                <td><a href="#" class="icon"><i class="ti-close"></i></a></td>
                                <td>
                                    <h2 data-id="@item.ItemId" class="td-color total-cart-item">
                                        $@item.Total.ToString("0.00")   
                                    </h2>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <table class="table cart-table table-responsive-md">
                    <tfoot>
                        <tr>
                            <td>total price :</td>
                            <td>
                                <h2 id="grand-total">$@Model.Total.ToString("0.00")</h2>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="row cart-buttons">
            <div class="col-6"><a href="#" class="btn btn-solid">continue shopping</a></div>
            <div class="col-6"><a href="#" class="btn btn-solid">check out</a></div>
        </div>
    </div>
</section>
<!--section end-->
@section scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function ChangeQuantity(input) {
           
            let id = $(input).data("id");
            let price = parseFloat($(input).data("price"));
            let quantity = parseInt($(input).val());


            if (isNaN(quantity) || quantity < 0) {
                quantity = 0;
                $(input).val(quantity);
            }

            // Update item total
            $(".total-cart-item").each(function () {
                if ($(this).data("id") === id) {
                    const newTotal = (price * quantity).toFixed(2);
                    $(this).html(`$${newTotal}`);
                    //It updates the content inside the current HTML element with the new value.
                    // also in this case you could use .text() ==> you just add a dollar sign
                    // .html() ==> Renders HTML Tags
                    // .text() ==> When inserting plain text
                }
            });


            // Update grand total
            let newCartTotal = 0;
            $(".total-cart-item").each(function () {
                let value = parseFloat($(this).text().replace("$", ""));
                newCartTotal += value;
            });

            $("#grand-total").text(`$${newCartTotal.toFixed(2)}`);


            // TODO: Ajax Call To Update The Model At Server Side
        }
    </script>
}
